* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 20px;
  }
  
  header {
    background-image: url(top.jpg);
    background-size: cover;
    background-position: top;
    color: #ffffff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .h-header {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 60px;
  }
  
  .l-logo {
    height: 100px;
    margin-right: 16px;
  }
  
  .menu-container {
    position: absolute;
    bottom: 70px;
    right:  1300px;
    display: flex;
    align-items: center;
    z-index: 10;
  }
  
  #menuButton {
    background: none;
    border: none;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
  }
  
  #menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: grey;
  }
  
  .menu a:hover {
    background-color: #f1f3f4;
  }
  
  #Abt{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 250px;
  }

  main {
    background-image: url('b.jpg');
    height: 100vh;
    flex: 1;
    width: 100%;
    padding: 40px;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  
  main h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  main p {
    font-size: 1.2em;
  }