* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  padding: 20px;
}

header {
  background-image: url(top.jpg);
  background-size: cover;
  background-position: top;
  color: #ffffff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h-header {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.l-logo {
  height: 100px;
  margin-right: 16px;
}

.searchbox {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

#a {
  flex: 1;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  outline: none;
}

#b {
  background-color: #f8f9fa;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#b:hover {
  background-color: #f1f3f4;
}

.f {
  width: 95vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; 
  margin-top: 20px;
}

.f img {
  width: 100%;
  height: 250px;
  border-radius: 0.2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#d {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 20px auto;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #1a73e8;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

#d:hover {
  background-color: #0d60e3;
}



#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  position: bottom;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  height: auto;
}

@media (max-width: 768px) {
  .l-logo {
    height: 50px; /* Adjust logo size */
  }

  #a, #b {
    font-size: 14px; /* Smaller text for inputs and buttons */
  }

  #d {
    font-size: 14px; /* Smaller text for Load More button */
  }

  .searchbox {
    flex-direction: column; /* Stack searchbox elements */
  }

  #a {
    margin-bottom: 10px; /* Space between input and button */
  }
}
